/* Estilos generales */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Contenedor principal del chat */
#chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Área donde se muestran los mensajes */
#messages-container {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #f9f9f9;
  padding: 20px;
}

/* Cada mensaje individual */
.message {
  margin: 5px 0;
  padding: 10px 15px;
  border-radius: 20px;
  line-height: 1.4;
  font-size: 14px;
}

/* Mensajes enviados por el usuario */
.message.user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

/* Mensajes recibidos de otros usuarios */
.message.bot {
  background-color: #e5e5ea;
  align-self: flex-start;
}

/* Área de entrada de texto para enviar mensajes nuevos */
#input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

#input-area input, 
#input-area textarea {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  flex-grow: 1;
  font-size: 14px;
}

#input-area button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Botón para cambiar el tema oscuro/claro */
#theme-toggle-label {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#theme-toggle {
  margin-left: 5px;
}

/* Estilos específicos para el modo oscuro jaja  */
.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode #chat-container {
  background-color: #333;
}

.dark-mode #messages-container {
  background-color: #222;
}

.dark-mode .message {
  background-color: #444;
  color: white;
}

.dark-mode .message.user {
  background-color: #0056b3;
}

.dark-mode .message.bot {
  background-color: #333;
}

.dark-mode #input-area {
  background-color: #555;
  border-top-color: #666;
}

.dark-mode #input-area input, 
.dark-mode #input-area textarea {
  background-color: #666;
  color: white;
  border-color: #777;
}

.dark-mode #input-area button {
  background-color: #0056b3;
}

.dark-mode #theme-toggle-label {
  color: white;
}
